/* 
    Created on : 27/08/2021, 07:54:52 PM
    Author     : brsbr
*/

p{
    font-size: 150%;
    border: white 5px solid;
    background-color: hsl(180, 50%, 80%);

}

#body_imagen_fondo{
    background: url("../imagenes/fondo.jpg");
    background-size: cover;
}

#banner{
    background-size: cover;   

}
#barrita{
    color: black; background-color: white;
    border:  #000 1px solid;
}


#lista{
    float: right;
    width: 800px;
    height:200px;
    background-color: gainsboro; 
}

#agregar{
    float: left;
    width: 500px;
    height:420px;
    background-color: gainsboro; 
}

#comprar{
    top: 100px;
    width: 800px;
    height:200px;
    background-color: gainsboro;     
    position: absolute;
    right: 0;
    top: 400px;
}