/* 
    Created on : 27/08/2021, 07:54:52 PM
    Author     : brsbr
*/

p{
font-size: 150%;
  border: white 5px solid;
  background-color: hsl(180, 50%, 80%);

}

#body_imagen_fondo{
    background: url("../imagenes/fondo.jpg");
    background-size: cover;
}

#banner{
  background-size: cover;   
  
}