/* 
    Created on : 27/08/2021, 07:54:52 PM
    Author     : brsbr
*/

p{
    font-size: 150%;
    border: white 5px solid;
    background-color: hsl(180, 50%, 80%);

}

#body_imagen_fondo{
    background: url("../imagenes/fondo.jpg");
    background-size: cover;

}

#banner{
    background-size: cover;   

}
#barrita{
    color: black; background-color: white;
    border:  #000 1px solid;
    margin-left:10px;
    margin-right: 10px;
}


#lista{
    float: right;
    width: 720px;
    height:200px;
    background-color: gainsboro; 
}

#agregar{
    float: left;
    width: 530px;
    height:440px;
    background-color: gainsboro; 
    
}

#comprar{
    top: 390px;
    float: right;
    width: 720px;
    height:200px;
    background-color: gainsboro; 
     
    
    
}

#body{
    margin-left:10px;
    margin-right: 10px;
}

h5{
    text-align: center;
}

h6{
    margin-top: 20px;
margin-right: 20px;
margin-bottom: 20px;
margin-left: 20px;
}

.botones{
    position: relative;
    bottom: 80px;
    left: 280px;
 }
 